---
import "../styles/global.css";
---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <title>Astro</title>
    </head>
    <body>
        <main>
            <div class="title-wrapper">
                <h1>Morgen Ruff</h1>
                <h2>Dynamic Identity Systems</h2>
                <h2>Verso Books</h2>
            </div>
        </main>
    </body>
</html>
