---
import "../styles/global.css";
---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <title>Astro</title>
        <script src="../js/p5.min.js"></script>
        <script src="../js/p5.asciify.umd.js"></script>
    </head>
    <body>
        <main>
            <div class="title-wrapper">
                <h1>Morgen Ruff</h1>
                <h2>Dynamic Identity Systems</h2>
                <h2>Verso Books</h2>
            </div>
            <div id="sketch"></div>
        </main>
    </body>
</html>

<script>
    // import p5 from "p5";
    // // import { WEBGL } from "p5";
    // // import { p5asciify } from "p5.asciify";
    // const mySketch = (p) => {
    //     p.setup = () => {
    //         p.createCanvas(400, 400);
    //     };
    //     p.draw = () => {
    //         p.background(220);
    //         p.fill("orange");
    //         p.ellipse(200, 200, 200);
    //     };
    // };
    // new p5(mySketch, document.getElementById("sketch"));
</script>
